{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Funko Pop Entry!</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'pop_entry.css' %}"
        />
    </head>

    <body>
        <div class="wrapper">
            <div class="page_header">
                <img
                    src="{% static 'Pictures\pop_logo.png' %}"
                    alt="Image Not Available"
                    class="pop_logo_pic"
                />

                <h1>Welcome! Take a look at my collection of Funko Pops!</h1>

                <p class="price_checker">
                    Want to check a value of a Funko Pop?
                    <a
                        href="https://www.hobbydb.com/marketplaces/poppriceguide/collectibles/for_sale_search?q="
                        >Click Here!</a
                    >
                </p>
            </div>

            <form method="post" class="pop_entry_form">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">Submit Entry</button>
            </form>
        </div>
    </body>
</html>
